{% extends 'base.html.twig' %}

{% block title %}Equipes / CLubs{% endblock %}

{% block body %}
    <div class="container">
        <section  class="espace2">
            {% for equipe in equipes  %}
                <article id="Equipe" class="espace espace2">
                    <h2>{{equipe.nom}}</h2>
                    <div class="metadata">Crée le {{ equipe.dateEquipe | date('j / m / Y') }}</div>
                    <div class="content">
                        <img src=" {{ asset(equipe.images)| imagine_filter('logo')}} " alt="" width="5%">
                        {{ equipe.text | u.truncate(300, '[...]', false) }}

                    </div>
                    <a href="{{ path('visualiserEquipe',{'id': equipe.id})}}" class="btn btn-primary" style="margin-top: 2% " >Lire la suite</a>

                </article>
            {% endfor %}

        </section>
    </div>
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Register for free</span>
                    <button type="button" class="btn btn-outline-light btn-rounded">
                        Sign up!
                    </button>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>



    </footer>
{% endblock %}